    <!--FOOTER-->
<div class="footer">
 Copyright © 2017 Tours Plaza.

   <a href="#">Terms and conditions</a>
   <a href="/contact">Contact Us</a>
   <a href="/about-us">About Us</a>
   <a href="#">Privacy policies</a>
   
 
</div>
    
    </body>
    
</html>