<!DOCTYPE html>
<!--AUTHOR: MARTIN CARRASCO-->
<html>
    <head>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">
     <meta name="description" content="We have the best tours around the island. Explore Cozumel with our personalized tours in one of our 
	     comfortable vehicles for up to 14 persons.">
        <title>Tour and discover the island of Cozumel | Tours Plaza  </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/stylesheet.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <script src="https://use.fontawesome.com/3045d8e92e.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
         <script>
          function alertar(node){
            return alert("Hubo un error cargando la versi칩n en espa침ol. Estamos trabajando en solucionarlo. Si necesitas ayuda en espa침ol no dudes en contactarnos al email eduardoczm@gmail.com");
          }
        </script>
       
        
  </head>
  

    <body>
      <section class="top">
      </section>
        <button id="myBtn" title="Go to top"><i class="fa fa-arrow-circle-o-up fa-2x" aria-hidden="true"></i></button>
       <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" style="background-color: #002040!important;">
  <a class="navbar-brand" href="/"><img src="/assets/logo/logo_min.png" alt="Cozumel Plaza Tours"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about-us">About Us</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/prices"><i class="fa fa-money" aria-hidden="true"></i> Prices</a>
        </li>
       <li class="nav-item">
        <a class="nav-link" href="/recommended-stops"><i class="fa fa-map-marker" aria-hidden="true"></i> Recommended Stops</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/booking"><i class="fa fa-book" aria-hidden="true"></i> Booking</a>
      </li>
      
      <li class="nav-item">
     <a class="nav-link" href="/faq"><i class="fa fa-question" aria-hidden="true"></i> FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact"><i class="fa fa-envelope-o"></i> Contact Us</a>
      </li>
      <li class="nav-item">
     <a class="nav-link disabled" href="#" onclick="return alertar(this);"><span class="flag flag-es"></span> Espa침ol</a>
      </li>
      
        <li class"nav-item">
       <a class="nav-link" target="_blank" href="https://www.facebook.com/Cozumeltaxitour/?ref=bookmarks"><i title="Facebook" class="fa fa-facebook" aria-hidden="true" alt="Facebook"></i></a>
      </li>
        <li class"nav-item">
       <a class="nav-link"  target="_blank" href="https://www.yelp.com.mx/biz/tours-plaza-cozumel?osq=tours"><i title="Yelp" class="fa fa-yelp" aria-hidden="true"></i></a>
      </li>
        <li class"nav-item">
       <a class="nav-link"  target="_blank" href="https://www.tripadvisor.com.mx/Attraction_Review-g150809-d2358819-Reviews-Tours_Plaza_Day_Tours-Cozumel_Yucatan_Peninsula.html"><i title="TripAdvisor" class="fa fa-tripadvisor" aria-hidden="true"></i></a>
      </li>
        <li class"nav-item">
       <a class="nav-link"  target="_blank" href="https://boards.cruisecritic.com/showthread.php?t=2098656&page=5"><img title="Cruise Critic" id="cruise" src="/assets/images/cruise-critic.png"></a>
      </li>
      
    </ul>
   
     
  </div>
</nav> 


