<% include partials/header %>

    <h1 class="text-center marginTop" style="padding-top: 10px">About Us </h1>
<div class="about container-fluid" style="padding-top: 50px">

<div class="row">
    <div class="col-lg-6">
    <p> We are a team of bilingual taxi drivers offering our island tour since 2011,
most of us are islanders so we know the island and its attractions very well
and every day we learn more
We have different types of vehicles, from cars, regular Vans and Larger vans
Our service is proven in more than 2000+ reviews that can be found in
several pages such as TripAdvisor, Cruise Critic, Yelp, etc.</p>
    </div>
    <div class="col-lg-6">
        <img class="img-responsive thumbnail" id="aboutUs" src="/assets/images/about-us.jpg">
    </div>
    </div>
</div>


<footer>
<% include partials/footer %>
</footer>