<% include partials/header %>
<section id="top"></section>
<div class="container faq">
   
    <h1 class="text-center ">Frequently Asqued Questions</h1>
    
    
    <ol>
        <li><a href="#q1">To reserve how much is the deposit?</a></li>
        <li><a href="#q2">Can I make the reservation the same day?</a></li>
        <li><a href="#q3">Can I ask for specific driver for the tour?</a></li>
        <li><a href="#q4">Do the vehicles have air conditioning?</a></li>
        <li><a href="#q5">Do you have seats for babies?</a></li>
        <li><a href="#q6">What places could I visit during the tour?</a></li>
        <li><a href="#q7">Do you offer tours in other languages?</a></li>
        <li><a href="/terms-and-conditions">Cancellation policies></li>
        Do you have another or need additional details? Don't hesitate in <a href="/contact">contacting us.</a>
    </ol>
    
    <div class="container responses">
       <p id="q1"><strong>1.- To reserve how much is the deposit?</strong> </p>
        <p class="r">If you wish to go through with booking for your tour in English or Spanish, please fill out the reservation form on our website, When you click the “submit” button, a PayPal window will come up requesting an advance deposit USD $62.00 for the car, USD $100 for the Van (which you can pay with PayPal funds or a credit/debit card online) in order to confirm your reservation. Once the payment goes through, we’ll send your confirmation letter and pick up details via e-mail. Balance due should be paid to the driver at the end of the taxi tour in cash (US Dollars, Pesos or Euros accepted)</p>
         
       <p id="q2"><strong>2.- Can I make the reservation the same day?</strong> </p>
        <p class="r">We are sorry but we cannot accept same day reservations because we need to ask the Taxi Union for authorization to do the pick up guests 48 hours in advance.</p>
         
       <p id="q3"><strong>3.- Can I ask for specific driver for the tour?</strong> </p>
        <p class="r">In an effort to provide the best service, we suggest you book your taxi island tour as early as possible since our team is of only 14 drivers, <strong> If you request a specific driver we will assign him to you unless he is already booked, in which case, we will assign another driver from our crew.</strong> </p>
         
       <p id="q4"><strong>4.- Do the vehicles have air conditioning?</strong> </p>
        <p class="r">Our vehicles come equipped with ice cold A/C, CD player and a cooler, if you choose to buy beverages and ice during your tour.</p>
         
       <p id="q5"><strong>5.- Do you have seats for babies?</strong> </p>
        <p class="r">We have 3 baby seats available for rent, both are for new born and up to 40 lbs or 18 kg. and 2 Carseats for older children, price is $10 dlls. each, if you want to rent one, please ask for it when you make your reservation.</p>

       <p id="q6"><strong>6.- What places could I visit during the tour?</strong> </p>
        <p class="r">In three or more hours you can see the island from a local’s point and visit and sightseen places you normaly dont see on a regular tour in Cozumel, you can visit our local market to buy real Mexican vainilla or any other mexican product, tour San Miguel´s downtown area, visit the mayan ruins at San Gervasio, the Tequila factory tour, El Pueblo del Maiz, explore the east side of the island breath taking views, enjoy a tastiest ceviche and guacamole, a fabulous lunch at a restaurant on the beach, stop at el Mirador for a fresh coconut water, climb the lighthouse at Punta Sur park for a gorgeous view, snorkel at Playa Palancar beach, Shop at stores with good prices, with our service you will find many options to meet your needs. For those of you visiting Cozumel for the first time or if you are not familiar with the Island, once in here we can give you some options of the popular stops that you can visit. this is a private tour, so if you like a place more than the other ones, you can stay less or longer time there. It’s up to you.</p>

       <p id="q7"><strong>7.- Do you offer tours in other languages?</strong> </p>
        <p class="r" style="padding-bottom: 10vh;">For tours in other languages we can provide an optional guide for an additional charge, If you are interest on this, please send us an e- mail to eduardoczm@gmail.com to ask for details as these other languages guides are subject to availability and accommodation on the vehicles might be different, because you will ride with a driver and the guide (other languages available are French, Italian, Portuguese, Russian and German).</p>         
        
    </div>
</div>


<script type="text/javascript" src="/javascript/index.js"></script> 
<%include partials/footer %>