<% include partials/header %>

<div class="prices">
<div class="columns">
  <ul class="price">
    <li class="header">Car</li>
    <li class="grey">$ 107 / 3 hours</li>
    <li>$ 25 each additional hour</li>
    <li>Prices per vehicle</li>
    <li>Up to 4 guests</li>
    <li><i class="fa fa-3x fa-cc-paypal" aria-hidden="true"></i></li>
    <li class="grey"><a href="/booking" class="btn btn-block btn-lg btn-outline-secondary">Book Now!</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#1f6322">Regular Van</li>
    <li class="grey">$ 195 / 3 hours</li>
    <li>$ 40 each additional hour</li>
    <li>Prices per vehicle</li>
    <li>Up to 9 guests</li>
    <li><i class="fa fa-3x fa-cc-paypal" aria-hidden="true"></i></li>
    <li class="grey"><a href="/booking" class="btn btn-block btn-lg btn-outline-success">Book Now!</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color: #002040">xVan</li>
    <li class="grey">$ 220 / 3 hours</li>
    <li>$ 45 each additional hour</li>
    <li>Prices per vehicle</li>
    <li>Up to 10 guests</li>
    <li><i class="fa fa-3x fa-cc-paypal" aria-hidden="true"></i></li>
    <li class="grey"><a href="/booking" class="btn btn-block btn-lg btn-outline-primary">Book Now!</a></li>
  </ul>
</div>
<div class="columns">
  <ul class="price">
    <li class="header" style="background-color: #0b58a5">Larger Van</li>
    <li class="grey">$ 300 / 3 hours</li>
    <li>$ 50 each additional hour</li>
    <li>Prices per vehicle</li>
    <li>Up to 14 guests</li>
    <li><i class="fa fa-3x fa-cc-paypal" aria-hidden="true"></i></li>
    <li class="grey"><a href="/booking" class="btn btn-block btn-lg btn-outline-primary">Book Now!</a></li>
  </ul>
</div>
<div class="container-fluid">
    <p class="conditions"><strong>*Beverages, lunch, park admissions, etc. are not included in the prices and are your responsibility.</strong> </p>
    <p class="conditions">We have strict cancellation and refund policies, so before you book please be sure to checkout our <a href="#">terms and conditions.</a></p>
</div>
</div>


<% include partials/footer %>