<% include partials/header %>


    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Recommended stops</h1>
          <p class="lead text-muted">Don't miss on anything around here in Cozumel. These are the places we recommend to visit in our customized tours</p>
          <h1> Already made up your mind?</h1>
          <a href="/booking" class="btn btn-primary">Hire your driver now!</a>
          </div>
      </section>

      <div class="album text-muted">
        <div class="container">

          <div class="row">
             <div class="card">
              <h2 class="text-center"><strong>San Gervasio Ruins</strong></h2>
              <img src="http://www.cruiseportinsider.com/sangervasio.jpg" alt="San Gervasio Ruins">
              <p class="card-text">As of today, these Mayan ruins are the #1 archaeological site in Cozumel. As of today San Gervasio is the most important mayan site in the island. San Gervasio was a sacred mayan site dedicated to the goddess Ixchel (goddess of fertility) plus a estrategic site for commerce and politics in the area. You can become part of the mayan culture and its mysteries. Don’t miss on mayan history!</p>
            </div>
            <div class="card">
              <h2 class="text-center"><strong>El Mercado</strong></h2>
              <img src="/assets/images/stops/el-mercado-municipal.jpg" style="height: 228px;" alt="Mercado Municipal">
              <p class="card-text">The local market where the locals all go to make purchases of food and other necessities.</p>
            </div>
            <div class="card">
              <h2 class="text-center"><strong>Chocolate Factory</strong></h2> 
              <img src="/assets/images/stops/mayan-cacao-company.jpg" style="height: 228px;" alt="Chocolate Factory">
              <p class="card-text">Small chocolate factory opened in 2007. family business makes fresh, handmade, Mexican-origin chocolate. Chocolates are made in-house, the artisan way. Discover the world and magic of Mayan cacao – Get to know all what you always wanted to ask about chocolate making !!</p>
            </div>
            <div class="card">
              <h3 class="text-center"><strong>Tequila tasting and history tour</strong></h3>
              <img src="/assets/images/stops/tequila-tasting.jpg" style="height: 228px;" alt="Tequila Tour">
              <p class="card-text">A Cozumel trip would not be complete without tequila – that liquor from the agave, sacred to the Aztecs, has a rich history in Mexico. The blue agave’s tequila is still sacred to Mexicans and tourists alike – and should not be missed. In an open-air building sit rows and rows of tequila bottles. The tour is interesting and you will love the tastings, in small paper cups. The “good stuff” is indeed silky smooth, but you may have to suffer through “cherry,” and “orange” tequila, though the almond tequila has a smoky flavor and the coffee tequila has a strong, good taste, as well. The cream tequila tastes a little like amaretto. The shots are small, but numerous.The mezcal, as expected, is strong.</p>
            </div>
            <div class="card">
              <h2 class="text-center"><strong>Turtle nests</strong></h2><br>
              <img src="/assets/images/stops/turtle-nests.jpg" style="height: 228px;" alt="Turtle nests">
              <p class="card-text">In the months of the season (July – October) when the turtles come to lay their eggs on the wild side sandy beaches, maybe you will have the opportunity to see as the little turtles leave the nest.</p>
            </div>
            <div class="card">
              <h2 class="text-center"><strong>Coconuts bar and grill</strong></h2><br>
              <img src="/assets/images/stops/coconuts-bar-and-grill.jpg" style="height: 228px;" alt="Coconuts bar and grill">
              <p class="card-text">You can stop at Coconuts for an amazing view to sip a drink or take pictures looking the caribbean from the highest cliff of Cozumel.</p>
            </div>
            <div class="card">
              <h2 class="text-center"><strong>El Mirador</strong></h2>
              <img src="/assets/images/stops/el-mirador.jpg" style="height: 228px;" alt="El Mirador">
              <p class="card-text">Is preserved in its most natural state. The large rock formations jut out into the open ocean. El Mirador was carved by years of ocean waves splashing against the rocks. El Mirador consists large rock formations which can be climbed and walked across to the end, where the ocean spray meets El Mirador. The rock formations are craggy in spots and have some natural bridges and tidal pools whirling around. There are uneven spots and some holes in the rocks to be aware of when walking across El Mirador.</p>
            </div>
            <div class="card">
              <h2 class="text-center"><strong>Punta Sur</strong></h2>
              <img src="/assets/images/stops/punta-sur.jpg" style="height: 228px;" alt="Punta Sur">
              <p class="card-text">Punta Sur is the biggest natural eco reserve in Cozumel island more than 2,700 acres. Enjoy the most beautifull beach of Cozumel, climb up our Celarain lighthouse, take amazing photos of crocodiles, exotic birds, fish and flowers. Spectacular panoramic views, visit the navigation museum. Amaze yourself with the Colombia lagoon and our mayan ruin “El Caracol”. A quick tip for your visit is to make sure to take plenty of cash. A lot of places outside San Miguel do not accept credit/debit cards as there is no internet service and the power to the “Wild Side” of the Island is largely from Generators. Prices are reasonable, just take cash.</p>
            </div>
            <div class="card">
              <h2 class="text-center"><strong>Farmacia Dori</strong></h2>
              <img src="/assets/images/stops/farmacia-dori.jpg" style="height: 228px;" alt="Farmacia Dori">
              <p class="card-text">"During your tour of the Island, you could also stop by one of the local pharmacies, Farmacia Dori. They have bilingual personnel and they’re known for their excellent customer service; they’ve been in business for more than 40 years tending to all of the Island’s needs. This pharmacy, which is located downtown, by the market, has all sorts of medications, shampoos, soaps, toosthpaste, etc.</p>
            </div>
            <div class="card">
              <h2 class="text-center"><strong>Los Cinco Soles</strong></h2>
              <img src="/assets/images/stops/los-cinco-soles.jpg" style="height: 228px;" alt="Los Cinco Soles">
              <p class="card-text">As of today, these Mayan ruins are the #1 archaeological site in Cozumel. As of today San Gervasio is the most important mayan site in the island. San Gervasio was a sacred mayan site dedicated to the goddess Ixchel (goddess of fertility) plus a estrategic site for commerce and politics in the area. You can become part of the mayan culture and its mysteries. Don’t miss on mayan history!</p>
            </div>
            <div class="card">
              <h2 class="text-center"><strong>Palancar Beach</strong></h2>
              <img src="/assets/images/stops/palancar-beach.jpg" style="height: 228px;" alt="Palancar Beach">
              <p class="card-text">Nice beach away from the big crowds, This is a nice beach with a good bar and snacks to help make your day near the ocean fun and enjoyable! The dive/snorkel shop and your driver can arrange snorkeling from shore or by boat. Chill out on the loungers with a cool Margarita and some ceviche and enjoy the beautiful turquoise water!</p>
            </div>
            <div class="card">
              <h2 class="text-center"><strong>Pueblo del Maiz</strong></h2>
              <img src="/assets/images/stops/pueblo-del-maiz.jpg" style="height: 228px;" alt="Pueblo del Maiz">
              <p class="card-text">A hands on educational Mayan lifestyle experience. full authentic costume. Learn how to use corn and make tortillas. how to barter for things that you would like. taste honey from the stingless bees. how to make chocolate from the Cocoa bean.</p>
            </div>
            
          </div>

        </div>
      </div>


<footer>
<% include partials/footer %>
</footer>