<% include partials/header %>

<div class="container terms">
    <h1>Cancellation policies</h1>
    <br>
    <ul>
        <li>We can refund the deposit in full with a written request by email, with at least two week notice.</li>
        <li>Within two weeks - 48 hours, a 50% refund will be given.</li>
        <li>All refunds will be effective 7 days after request.</li>
        <li>No refunds will be given if you cancel within 48 hours or for no-shows.</li>
        <li>Full refunds will be given in the event that your cruise ship does not make port."</li>
    </ul>
    
</div>

<% include partials/footer %>