body{
   font-family: 'proxima-nova', sans-serif;
   min-height: 100%;
   
 }
 

 
@font-face {
	font-family: proxima-nova;
	src: url(ProximaNovaAltLight.otf);
}

#topBar {
    width: 100%;
    height: 25px;
}


#contenido{
    display: table-cell;
    position: relative;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
    padding: 35% 5%;
 
}


.texto {
    color: white;
    position: relative;
    padding: 50vh 20px;
    text-align: left;
   
}


#call {
    float: left;
    width: 475px;
}

.learn-more {
    bottom: 2.5%;
    display: inline-block;
    font-size: 1.3rem;
    left: 50%;
    padding: 20px;
    position: absolute;
    white-space: nowrap;
    z-index: 2;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.find-us {
    text-align: center;
}


.learn-more a {
    color: white;
    text-decoration: none;
    border-bottom: none;
   
}

.main-container {
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 350px;
    background-color: #252a30;
    background: url('/assets/images/Cozumel-Tour.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.bravo {
    z-index: 100;
    padding-top: 10vh;
    float: right;
    position: relative;
    margin-right: 5vh;
}

.screen-container {
    height:75vh;
    margin-top: 17vh;
}

.screen-container2{
    height: 175vh;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.screen-container3 {
    height:100vh;
  /*  background-color: #eee;*/
   z-index: 1;
    position: relative;
}


.screen-container4 {
    height:100vh;
    background: hsl(205, 84%, 14%);
    color: white;
    line-height: 33px;
    font-weight: 200;
  }
  
.screen-container5 {
    height: 70vh;
    background: white;
    max-width: 100%;
}

.bg {
     position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/assets/images/screen-container-3-background.jpeg);
    background-size: cover;
    opacity: .4;
    width: 100%;
    height: 100%;
}

.certificate{
    margin: 0 33%;
}

.navbar-nav > li {
   padding-left: 30px;  
}

.flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url(/assets/images/flags.png) no-repeat;
}

.flag.flag-es {
    background-position: -224px -33px;
}

.intro-titular {
    text-align: center;
    line-height: 1.4;
    font-weight: 700;
    font-size: 3.2rem;
}


.bajada {
    text-align: center;
    color: #524e4d;
    font-size: 1.5rem;

}

.bajada2 {
    text-align: center;
    color: orange;
    font-size: 1.5rem;

}


.van{
    height: 150px; 
    width: auto; 
   border-radius: 2%;
}

.imagen{
    margin-top: 10px;
    padding: 0;
}

.description {
    margin: 15px 30px;
    line-height: 1.8;
    font-size: 0.85rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #184410;
}

.slate {
    margin: 1.8rem 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.social{
    float: right;
}

#cruise {
    width: auto;
    height: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: solid;
  border-color: white;
  outline: none;
  background-color: #002040;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}

.bottom {
    text-align: center;
    margin: 40px 45%;
    font-size: 0.85rem;
}

.servicios{
    width: 1349px;
}

.rowWithFullWidth {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.colWithFullWidth {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.review-snippet{
    background-color: white !important;
    border-radius: 6px !important;
    padding-top: 10px !important;
    padding-left: 50px !important;
    padding-bottom: 30px !important;
    font-size: 0.8rem !important;
    box-shadow: 4px 4px 6px #888888 !important;
    height: 500px;
    width: 600px;
}

.marginTop {
    margin-top: 60px;
}

.paddingTop {
    padding-top: 60px;
}

.paddingLeft {
    padding-left: 10vh;
}
.tour {
    height: 265px; 
    width: auto; 
   border-radius: 50%;
   opacity: 0.9;
   padding: 0 50px;
   
}

.fromTopIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(0,0);
	opacity: 1.0;
}

.fromTopOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(0,-10px);
	opacity: 0.0;
}

.fromBottomIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(0,0);
	opacity: 1.0;
}

.fromBottomOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(0,10px);
	opacity: 0.0;
}

.fromLeftIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(0,0);
	opacity: 1.0;
}

.fromLeftOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(-10px,0);
	opacity: 0.0;
}

.fromRightIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(0,0);
	opacity: 1.0;
}

.fromRightOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: translate(10px, 0);
	opacity: 0.0;
}

.scaleUpIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: scale(1.0,1.0);
	opacity: 1.0;
}

.scaleUpOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: scale(1.3,1.3);
	opacity: 0.0;
}

.scaleDownIn
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: scale(1.0,1.0);
	opacity: 1.0;
}

.scaleDownOut
{
	transition: transform 1.0s ease, opacity 1.0s ease;
	
	transform: scale(0.7,0.7);
	opacity: 0.0;
}

.details {
    font-size: 0.8rem;
}

.paypal {
 width: auto;
 height: 255px;
}

       
.footer {
  clear: both;
    position: relative;
    /*z-index: 10;*/
    height: 5em;
    margin-top: -3em;
    background-color:  #002040;
    color: white;
    font-size: 12px;
    padding: 20px 15px;
}

sub-footer > a {
    display: inline;
    margin:0 10px;
}
    
body .popover {
  max-width: 830px;
}       

.border{
        display: block;
    padding: 4px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.border2{
        display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 20px;
}

.mosaic {
    width: 208px;
    height: 138px;
}

/*================ABOUT US PAGE=====================*/



.about {
    height: 75vh;
    
}

#aboutUs {
    width: auto;
    height: 50vh;
    border-radius: 0.25rem;
}

/*==================PRICES PAGE=====================*/

.prices{
    height: 100vh;
    margin-top: 10vh;
}

* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 25%;
    padding: 8px;
    
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.conditions {
    font-size: 20px;
}

/*======================BOOKING PAGE ========================*/

.booking{
    height: auto;
    margin-top: 10vh;
    
}

#booking {
    margin: 15vh 5vh;
    height: auto;
}

.invisible {
    opacity: 1;
    
}

#code {
    margin:  0 !important;
    border-style: solid;
    border-width: 1.2px;
    border-color: #ab9898ad;
    border-radius: .25rem;
    font-weight: 700;
    width: 80px;
    
}

#info{
    border-radius: .25rem;
}

 #cellphone {
     border-radius: .25rem;
     width: 1000px;
 }
 
 #requirement {
     border-radius: .25rem;
 }
 
 /*===================CONTACT US================*/
 .contact{
    height: auto;
    width: auto;
    margin-top: 10vh;
}

#message {
    border-radius: 0.25rem;
}

.flash {
    margin-top : 8%;
    margin-bottom: 0 !important;
}

/*=====================FAQ PAGE===================*/

.faq {
    padding-top: 25vh;
    font-size: 1.5rem;
}

.responses {
    margin-top: 25vh;
}

#q1, #q2, #q3, #q4, #q5, #q6, #q7 {
    padding-top: 75px;
}


.r {
    font-size: 1.2rem;
}

/*=====================TERMS AND CONDITIONS PAGE======*/

.terms{
    padding-top: 15vh;
    font-size: 1.5rem;
    padding-bottom: 40vh;
}